---
import { homeCta } from '../../data/site';
---

<div class="sticky-cta" aria-label="קריאה לפעולה">
  <button type="button" class="btn-yellow sticky-cta__btn" data-lead-modal-open>
    {homeCta}
  </button>
</div>
